body {
  font-size: 12px;
  min-width: 420x;
  min-height: 300px;
  width: 420px;
  height: auto;
}
.card {
  padding-bottom: 10px;
}
input.text-input {
  width: 280px;
}
input.text-input-sm {
  width: 90px;
}
.btn-copy {
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
label.col-3 {
  padding: 0 10px;
}
.alert {
  padding: 0.8rem 1.25rem;
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  padding-top: 8px;
}
.text-button {
  margin-top: 8px;
}
.width-48 {
  width: 48%;
}
#frm-reddit-info {
  max-height: 300px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 3px;
}

.dark-mode {
  background-color: #222831;
  color: #EEEEEE;
}

/*input[type="text"], textarea {
  background-color : #d1d1d1; 
}*/

/* 
TODO : Change color of input field when toggle dark mode
*/